*
body{
  background-image:url("assets/freedom.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
img{
  width:100%;
  height:auto;
}
.main-title{
  font-family:"Advent Pro";
  margin:4vw 2vw;
  text-transform:uppercase;
  text-align:center;
  font-size:4.2vw;
  letter-spacing:0.2vw;
  
}

.paragraph{
  text-align:center;
  font-style: italic;
  font-size: 1.2vw;
  
}